In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
order = pd.read_csv('../data/order.csv')

ชื่อไม่ตรง

In [4]:
order = order.rename(columns={"art_no":"sku_no"})

order สั่งสินค่าแล้วแต่ ราคารวมเป็น 0 แก้โดย ไม่เลือก

In [9]:
order[order['orderv_amt']<=0]

,date_order,ord_no,ord_issue_by,site_no,art_no,order_qty,orderv_amt
3,2021-12-01,ORD000357,นางสาววรรณา พิพัฒน์วงศ์,3,8,20.70,0.0
6,2021-12-01,ORD000349,นางสาววรรณา พิพัฒน์วงศ์,3,4,17.25,0.0
7,2021-12-01,ORD000358,นางสาววรรณา พิพัฒน์วงศ์,1,2,23.00,0.0
8,2021-12-01,ORD000350,นางสาววรรณา พิพัฒน์วงศ์,1,4,34.50,0.0
10,2021-12-01,ORD000351,นางสาววรรณา พิพัฒน์วงศ์,4,4,17.25,0.0
...,...,...,...,...,...,...,...
20356,2023-12-29,ORD011713,นางสาวอภิชาติ วงศ์สุนทร,2,6,6.90,0.0
20357,2023-12-29,ORD011715,นางสาวอภิชาติ วงศ์สุนทร,3,6,13.80,0.0
20358,2023-12-29,ORD011716,นางสาวอภิชาติ วงศ์สุนทร,0,6,13.80,0.0
20359,2023-12-29,ORD011717,นางสาวอภิชาติ วงศ์สุนทร,1,6,6.90,0.0
20360,2023-12-29,ORD011718,นางสาวอภิชาติ วงศ์สุนทร,4,6,6.90,0.0

In [10]:
order = order[order['orderv_amt']>0]

In [11]:
order

,date_order,ord_no,ord_issue_by,site_no,art_no,order_qty,orderv_amt
0,2021-12-01,ORD000359,นายสมชาย แซ่ลิ้ม,2,7,69.00,3450.0
1,2021-12-01,ORD000359,นายสมชาย แซ่ลิ้ม,2,2,46.00,1518.0
2,2021-12-01,ORD000359,นายสมชาย แซ่ลิ้ม,2,0,69.00,1518.0
4,2021-12-02,ORD000429,นายสมชาย แซ่ลิ้ม,2,2,46.00,1518.0
5,2021-12-02,ORD000429,นายสมชาย แซ่ลิ้ม,2,5,34.50,2242.5
...,...,...,...,...,...,...,...
20198,2023-12-29,ORD011684,นายสมชาย แซ่ลิ้ม,2,4,69.00,1794.0
20200,2023-12-29,ORD011684,นายสมชาย แซ่ลิ้ม,2,2,115.00,4600.0
20202,2023-12-29,ORD011684,นายสมชาย แซ่ลิ้ม,2,7,119.60,4305.6
20203,2023-12-29,ORD011684,นายสมชาย แซ่ลิ้ม,2,0,124.20,2856.6
20262,2023-12-30,ORD011752,นายสมชาย แซ่ลิ้ม,2,5,40.25,2012.5

In [ ]:
recieve = pd.read_csv('../data/receive')

แก้ชื่อไม่ตรง

In [8]:
recieve = recieve.rename(columns={'DateRcv':'date_rcv','SiteNo':'site_no','ArtNo':'sku_no','ReceiveVamt':'receive_vamt','ReceiveQty':'receive_qty'})

recieve.drop(columns=['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'])

        date_rcv  site_no  sku_no  receive_vamt  receive_qty
0      12/1/2022        1       0      207.8855           12
1      12/1/2022        1       6      227.7000            7
2      12/1/2022        3       4      396.7500           17
3      12/1/2022        3       3      246.1000           23
4      12/1/2022        3       7      763.9220           23
...          ...      ...     ...           ...          ...
18374  26/8/2023        3       0      808.0038           41
18375  26/8/2023        3       9      408.3075           12
18376  26/8/2023        3       9      816.6150           23
18377  26/8/2023        3       6     3450.0000           69
18378  26/8/2023        3       3      517.5000           46

[18379 rows x 5 columns]